{% extends 'base.html' %}

{% block content %}
<title>Customer</title>
<div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">Address ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </tr>
    </thead>
    {% for user in tableData %}
    <tbody>
      <td>{{ user[0] }} </td>
      <td>{{ user[1] }} </td>
      <td>{{ user[2] }} </td>
      <td>{{ user[3] }} </td>
      <td><Button onclick="myFunction()"> Delete </Button><td>
    </tbody>
    {% endfor %}
  </table>
</div>

<div>
  <Button onclick="myFunction()"> Insert </Button>
    <Button onclick="myFunction()"> Delete </Button>
    <Button onclick="myFunction()"> Update </Button>
    <Button onclick="myFunction()"> Projection </Button>
    <script>
        function myFunction() {
           URL =  "http://127.0.0.1:5000/tables/Customer"

           data = requests.get(url = URL);

           data.json();

           console.log(data);

          
        }

        function log_console() {
            console.log
                (tableData)
        }

        
      </script>
</div>
{% endblock %}
