{% extends 'base.html' %}

{% block content %}
<title>Customer</title>
<div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">Address ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        
      </tr>
    </thead>
    {% for user in tableData %}
    <tbody>
      <td><a href= "{{url_for('customer_helper', customer_id = user[0]) }}">
        <span class="badge badge-primary"> {{ user[0] }} </span>
      </a></td>
      <td>{{ user[1] }} </td>
      <td>{{ user[2] }} </td>
      <td>{{ user[3] }} </td>
      <td><form action="{{ url_for('delete_customer') }}" method=post>
        <input type=hidden value="{{ user[3] }}"name=last__name_to_delete />
  <input type=submit  value="Delete" />
    </form>
    <td>

      <td><a href= "{{url_for('edit', customer_id = user[0]) }}">
        <span class="badge badge-primary"> Edit  </span>
      </a></td>
    </tbody>
    {% endfor %}
  </table>
</div>

<div>

    <a href= "{{url_for('customer_restaurants') }}">
      <span class="badge badge-primary"> Join  </span>
    </a>


    <a href= "{{url_for('customer_restaurants_orders') }}">
      <span class="badge badge-primary"> Divison  </span>
    </a>
    
    <script>
      

        function deleteFunction(user) {
           URL =  "http://127.0.0.1:5000/tables/Customer" 

           bodyParam = {"first_name": "John", "last_name": "Cena"}

           data = requests.delete(url = URL, params = bodyParam );   
        }  
      </script>
</div>
{% endblock %}
