{% extends 'base.html' %}

{% block content %}
<title>Customer</title>
<div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">Address ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </tr>
    </thead>
    {% for user in tableData %}
    <tbody>
      <td>{{ user[0] }} </td>
      <td>{{ user[1] }} </td>
      <td>{{ user[2] }} </td>
      <td>{{ user[3] }} </td>
      <td><Button onclick="deleteFunction()"> Delete </Button><td>
    </tbody>
    {% endfor %}
  </table>
</div>

# Example URL: http://127.0.0.1:5000/tables/Driver
# Must use DELETE method
# Content-type header must be application/json
# Conditions for row(s) to delete must be passed in request body as json object {attribute: value}
# E.g. '{"first_name": "Ben", "last_name": "Kenobi"}'
<div>
  <Button onclick="myFunction()"> Insert </Button>
    <Button onclick="myFunction()"> Delete </Button>
    <Button onclick="myFunction()"> Update </Button>
    <Button onclick="myFunction()"> Projection </Button>
    <script>
        function deleteFunction(user) {
           URL =  "http://127.0.0.1:5000/tables/Customer" 

           bodyParam = {"first_name": "John", "last_name": "Cena"}

           data = requests.delete(url = URL, params = bodyParam );   
        }  
      </script>
</div>
{% endblock %}
