{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
  <h1>Welcome to the Food Delivery Service Database</h1>
</div>

  <div class="p-4 d-flex justify-content-center">
    <div>
      <a href='/addcustomer' type="button" class="btn btn-outline-success">Add a Customer</a>
      <button type="button" class="btn btn-outline-success">Add a Driver</button>
      <button type="button" class="btn btn-outline-success">Add a Restaurant</button>
      <button type="button" class="btn btn-outline-success">Add a Vehicle</button>
    </div>
  </div>
    
{% endblock %}