{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the Food Delivery Service Database</h1>

    <div>
      <a href='/addcustomer' type="button" class="btn btn-outline-success">Add a Customer</a>
      <button type="button" class="btn btn-outline-success">Add a Driver</button>
      <button type="button" class="btn btn-outline-success">Add a Restaurant</button>
      <button type="button" class="btn btn-outline-success">Add a Vehicle</button>
    </div>
    <div>
      <a href='/editcustomer' type="button" class="btn btn-outline-warning">Edit a Customer</a>
      <button type="button" class="btn btn-outline-warning">Edit a Driver</button>
      <button type="button" class="btn btn-outline-warning">Edit a Restaurant</button>
      <button type="button" class="btn btn-outline-warning">Edit a Vehicle</button>
    </div>
    
{% endblock %}