{% extends 'base.html' %}

{% block content %}
    <h1>Restaurant page</h1>
    <div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Restaurant ID</th>
            <th scope="col">Restaurant Name</th>
            <th scope="col">Cuisine</th>
            <th scope="col">Address ID</th>
            <th scope="col">Business License Number</th>
        </tr>
        </thead>
        {% for user in tableData %}
        <tbody>
        <td>{{ user[0] }} </td>
        <td>{{ user[1] }} </td>
        <td>{{ user[2] }} </td>
        <td>{{ user[3] }} </td>
        <td>{{ user[4] }} </td>
        </tbody>
        {% endfor %}
    </table>
    </div>
{% endblock %}